.navbar {
    background: rgba(157, 211, 145, 1);
}

#main-content .row {
    margin-top: 200px;
}

#utility-content {
    margin-top: 140px;
}

#utility-content li {
    color: rgba(0, 0, 0, 0.5);
}