#contactus-showcase {
    position: relative;
    background: url("../imgs/bhsone.jpg");
    min-height: 250px;
    background-position: center;
}

#contactus-showcase #contactus-overlay {
    /* background: rgba(157, 211, 145, 0.5); */
    background-color: rgba(35, 146, 234, 0.5);    

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contactus-showcase > #contactus-overlay > .container {
    margin-top: 70px;
}

#tempBtn {
    padding-bottom: 225px;
    padding-top: 70px;
}