
#team-showcase {
    position: relative;
    background: url("../imgs/workplacebg11.jpg");
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
}

#team-showcase #team-overlay {
    background: rgba(157, 211, 145, 0.0);
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#team-showcase i {
    display: inline;
}

.list-group li {
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    color: rgb(80, 80, 80);
}

#people img {
    width: 180px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.flip-card {
    background-color: transparent;
    width: auto;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.flip-card-front {
    background-color: rgba(157, 211, 145);
    color: white;
}

.flip-card-back {
    background-color: #f2f2f2;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 300px;
    font-size: 0.9rem;
}

#people p {
    font-size: 0.8em;
}

@media (min-width: 500px) {
    #people p {
        font-size: 1rem;
    }
}

#people .description {
    /* margin-top: 300/4 px; */
    position: 
    absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#people img {
    width: 200px;
}